

.comments {
    position: absolute;
    top:50%;
    left: 10%;/* Center the entire .comments div */
    padding-top: 100px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: #aaaaaa;
    width: fit-content;
    border-radius: 10px;
}

.reply{
    text-align: left;
}

.reply h1 {
    font-size: 20px;
    padding-bottom: 20px;
    text-align: left;
}

.comments form h1{

    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.comments textarea{
    height: 150px;
    width: 700px;
}

.comments .btn {
    display: block;
    margin: 0 auto; /* Center the anchor element inside the .btn class */
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 4px;
    font-size: 15px;
    font-weight: 400;
    background: dimgray;
    color: #f5f5f5;
    border-radius: 8px;
    padding: 8px 20px;
    width: fit-content;
}

