body {
    background-color: lightslategray;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.vrchStranky h1 {
    font-family: "Georgia",sans-serif;
    font-size: 52px;
}

.vrchStranky img {
    float: left;
    max-width:5%;
    max-height:5%;

}

.vrchStranky {
    text-align: center;
    background-color: darkslategray;
    min-inline-size : 750px;
    padding-top: 10px;
    padding-bottom: 10px;


}

.menu {
    overflow: hidden;
    background-color: #333;
    border-bottom-style: double;
    border-top-style: double;
    border-bottom-color: black;
    min-inline-size : 750px;}

.menu a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Interakcia užívateľa s menu */
.menu a:hover {
    background-color: #ddd;
    color: black;
}

.menu a.aktivne {
    background-color: darkslategray;
    color: white;
    position: relative;
}

.gitara img {
    position: relative;


}
.gitara p {
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    background-color: #dddddd;
    width: fit-content; /* Aby mi pozadie nepresahovalo text*/
    /* Oddelenie od ľavej strany stránky*/
    margin: 0 50px 100px;
    left : 50px;
    font-weight: bolder;
    position: absolute;

}
.gitara {
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.akordy h1 {
    position: relative;
    -webkit-text-stroke: 1px gainsboro;
}
.akordy p {
    position: relative;
    color: #dddddd;
    background-color: darkslategray;
    border: 3px #333333;

}

.akordy img {

    position: relative;
    max-width: 100%;
    max-height: 100%;
}

.akordy {
    text-align: center;
    display: block;
    width: fit-content;
    margin-left:480px;
}




